
* {
    margin:0;
    padding: 0;
}
    
html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

div {
    width: 100vw;
    height: 100vh;
}

.content {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    background: url("/ldifederico/assets/images/hotel-wallpaper.jpg");
    background-position: center;
}

#header {
    position: fixed;
    display: block;
    clear: both;
    background: white;
    height: 8%;
}

h1 {
    float:left;
    margin-left: 10%;
    width: 35%;
    text-align: center;
    font-size: 200%;
    font-family:'serif';
    color: #ffffff;
    background: #5c87c0;
    height: 100%;
}

h2 {
    float:right;
    display: flex;
    flex-direction: row;
    width: 10%;
    justify-content: center;
    margin-top: 5px;
    color: slategray;
    font-family: 'serif';
    font-size: 110%;
    border-right: 1px solid lightgray;
    padding: 1%;
    height: 30%;
}

#aboutme {
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

#box {
    display: flex;
    flex-flow: column wrap;
    position: unset;
    border: 2px solid lightgrey;
    justify-content: space-around;
    height: 60%;
    width: 70%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-left: 13%;
    margin-top: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background: white;
}

h3 {
    float:left;
    font-family: 'serif';
    color: #5c87c0;
    font-size: 24px;
}

hr {
    width: 99%;
    align-items: center;
}

img {
    float:left;
    position: relative;
}

p {
    float:right;
    align-content: inline;
    font-family: 'sans-serif';
    color: #777777;
}

.footer {
    grid-row-start: 2;
    grid-row-end: 3;
    height: 10%;
    width: 100vw;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
    background: #666666; 
    border-top: 8px solid #5c87c0;
}