body {
    margin: 2%;
    background-repeat: no-repeat;
}

h2 {
    padding-left: 3%;
}

.background {
    top: 0;
    left: 0;
    position: relative;
    width: 100vw;
    height: 100%;
}
  
p {
    position: relative;
    display: inline;
}

.about-the-author {
    background-color: #ffffff40;
    width: max-content;
    height: min-content;
    border-radius: 25px;
    padding: 5%;
    margin: 10%;
    margin-left: 15%;
}
  
.about-the-author .author-title {
    text-transform: uppercase;
}
  
.social-footer {
    padding: 2%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
  
.social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;
}
  
.social-footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fffefe;
}
  
.social-footer .social-footer-icons .fa:hover {
    color: #f8f6f6;
    transition: color 0.3s ease-in;
}
  
/* @charset "UTF-8"; */

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .social-button.linkedin {
  background: #f0ce9e;
}

.rounded-social-buttons .social-button.linkedin:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #f0ce9e;
  background: #fefefe;
  border-color: #f0ce9e;
}

.rounded-social-buttons .social-button.google-plus {
  background: #f0ce9e;
}

.rounded-social-buttons .social-button.google-plus:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.google-plus:hover, .rounded-social-buttons .social-button.google-plus:focus {
  color: #f0ce9e;
  background: #fefefe;
  border-color: #f0ce9e;
}

.rounded-social-buttons .social-button.github {
  background: #f0ce9e;
}

.rounded-social-buttons .social-button.github:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #f0ce9e;
  background: #fefefe;
  border-color: #f0ce9e;
}

.button-hover-reveal-wrapper {
    overflow: hidden;
    margin: 5%;
    border: 2px solid #f0ce9e;
    border-radius: 5000px;
    text-align: center;
    background: #fefefe;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
  
.button-hover-reveal-wrapper:hover {
    border: none;
    background-color: #f0ce9e;
    transition: background-color 0.5s ease;
}
  
.button-hover-reveal-wrapper:hover .button-hover-reveal {
    display: block;
    font-size: 16px;
    padding: 22px;
}
  
.button-hover-reveal-wrapper:hover .button-hover-reveal:hover {
    transition: background-color 0.5s ease;
}
  
.button-hover-reveal-wrapper:hover label {
    display: none;
    background-color: #f0ce9e;
}
  
.button-hover-reveal-wrapper .button-hover-reveal {
    display: none;
    text-decoration: none;
    color: #fefefe;
    z-index: 1;
}
  
.button-hover-reveal-wrapper label {
    padding: 16px;
    color: #f0ce9e;
    font-size: 16px;
    font-weight: bold;
}

.row {
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

footer {
    color: #f0ce9e;
    position:fixed;
    bottom: 0px;
    height: 8%;
    width: 100vw;
}

.navbar-toggler {
    border-color: #f0ce9e;
}

img {
    border-radius: 10px;
    height: 70vh;
}