
* {
    margin: 0;
    padding: 0;
}
    
html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

div {
    width: 100%;
}

.content {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    width: 100vw;
    background: url("../images/hotel-wallpaper.jpg");
    background-position: center;
}

#header {
    background: white;
    height: fit-content;
}

h1 {
    float:left;
    margin-left: 10%;
    width: 40%;
    text-align: center;
    font-size: 3.5vw;
    font-family:'Nunito Sans';
    color: #ffffff;
    background: #5c87c0;
    height: fit-content;
}

.container {
   display: flex;
   flex-flow: column wrap;
   border: 2px solid lightgrey;
   background: #ffffff;
   padding: 5%;
   height: fit-content;
   width: 80%;
   margin-top: -5%;
}

.col-2 {
    height: 40%;
    position: absolute;
    float: left;
    width: 25%;
}

.col-6 {
    height: 40%;
    position: absolute;
}

h2 {
    text-align: center;
    margin-top: 5px;
    color: #5c87c0;
    font-family: 'Nunito';
    font-size: 1.5vw;
    position: relative;
}

hr {
    width: 100%;
    align-items: center;
    border: 2px solid grey;
}

p {
    position: relative;    
    padding: 10px;
    font-family: 'Nunito';
    color: #777777;
    font-size: 2.3vh;
}

.footer {
    position:fixed;
    bottom: 0px;
    height: 8%;
    width: 100vw;
    text-align: center;
    font-size: 0.75vw;
    font-family: 'Nunito Sans';
    color: #ffffff;
    background: #666666; 
    border-top: 8px solid #5c87c0;
    left: 0px;
}