html {
    font-family: "Avenir Next", Helevetica, sans-serif;
    text-align: center;
}

#header {
    width: 100%;
}
  
body {
    margin: 0 auto;
}
  
h1, h2 {
    font-weight: 300;
    text-align: center;
}

.row {
    padding-left: 5%;
    padding-right: 5%;
}

#row1 {
    height: fit-content;
}

.col-4 {
    padding: 2%;
    background-color: #f8f9fa;
    border-radius: 10px;
    height: fit-content;
}

#currentCard {
    padding: 5%;
}

ul {
    list-style-type:none;
}

li {
    border: none;
}

#fiveDay {
    background-color: #f8f9fa;
    height: fit-content;
}